<div class="main">
    <h1>Carga tu producto</h1>
    <a href="http://localhost:3000/products">ir a productos</a>
    <form action="/products" method="post" class="form">
        <input class="input" type="text" name="title" placeholder="Nombre de producto" required>
        <input class="input" type="number" id="price" name="price" placeholder="Precio" required>
        <input class="input" type="text" name="thumbnail" placeholder="Url de la imagen" required>
        <input class="input" type="submit">
    </form>
</div>