<div>
    <div class="container my-5">
        <h1 class="text-center">bienvenido {{usuario}}</h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">Nombre: {{nombre}}</li>
                    <li class="list-group-item">Apellido: {{apellido}}</li>
                    <li class="list-group-item">Email: {{email}}</li>
                </ul>
                <div class="text-center mt-3">
                    <a href="/logout" class="btn btn-danger mr-2">Logout</a>
                    <a href="/" class="btn btn-primary">Home</a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
