<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>tienda</title>
    <style>
        .main{
            background-color: rgb(206, 206, 206);
            width: 100%;
            height: 100vh;
            margin: 15px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
        .tableTitle{
            color: rgb(255, 255, 255);
        }
        tr{
            border:solid 1px wheat;
        }
        th, td{
            text-align: left;
        }
        .table{
            color: rgb(187, 187, 187);
            border: solid 1.5px  rgb(81, 88, 96);
            background-color: rgb(53, 58, 63); 
            padding: 10px;
            width: 50%;
        }
        .containerImg{
            width: 100px;
        }
        .form{
            display: flex;
            flex-flow: column nowrap;
            width: 300px;
            gap: 5px;
            margin: 20px;
        }
        .input{
            border: none;
            height: 20px;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>